@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../font/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-SemiBold.woff') format('woff'),
    url('../font/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Light.woff') format('woff'),
    url('../font/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Medium.woff') format('woff'),
    url('../font/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Bold.woff') format('woff'),
    url('../font/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
