// variables
$primary: #3c3c3c;
$bg: #f5f5f5;
$orange: #ff9e00;
$gray: #b4b4b4;
$red: rgb(255, 76, 0);
$gradient: linear-gradient(0, rgb(255, 76, 0) 0%, rgb(255, 158, 0) 100%);
$shadow: 8px 8px 12px rgba(0, 0, 0, 0.08);

// media breakpoints
$laptop: 1200px;
$tabletL: 960px;
$tabletM: 720px;
$tabletS: 520px;
$mobileL: 414px;
$mobileS: 375px;
