section.contact {
  height: 100vh;

  .section-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;

    h3 {
      font-family: 'Montserrat';
      font-size: 2.5em;
      font-weight: 900;
      margin-bottom: 8px;
    }

    p {
      max-width: 640px;
      font-size: 1.125em;

      a {
        color: $orange;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  form {
    width: 100%;

    .form-wrapper {
      max-width: 640px;
      display: flex;
      flex-direction: column;
    }

    div {
      position: relative;
    }

    input:not([type='submit']),
    textarea {
      width: 100%;

      font-size: 1.25em;
      font-family: 'Gilroy', Arial, Helvetica, sans-serif;

      border: none;
      background-color: #fff;
      border-radius: 24px;
      box-shadow: $shadow;
      padding: 1.25em 1.5em;
      margin-bottom: 24px;
    }

    input:not([type='submit'])::placeholder,
    textarea::placeholder {
      color: $gray;
    }

    textarea {
      resize: none;
      height: 160px;
    }

    label {
      position: absolute;
      left: 12px;
      top: -10px;
      padding: 6px 12px;
      background-color: #fff;
      border-radius: 12px;
      color: $primary;
      font-weight: 700;
      letter-spacing: 1px;
      z-index: 2;
    }

    .btn {
      margin-right: 0;
    }
  }
}
