main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 80%;
  margin: auto;

  &.not-found {
    .intro-img {
      max-width: 20rem;
      padding: 1rem;
      transform: translate3d(0, 0, 0);
    }
  }

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    h2 {
      font-family: 'Montserrat';
      font-size: 3.5em;
      font-weight: 900;
      line-height: 1em;
      margin-bottom: 16px;
    }

    span {
      text-transform: uppercase;
      color: $orange;
      font-size: 1.2em;
      margin: 0 0 1em -1em;
    }

    p {
      margin: 12px 0;
      width: 95%;
      font-size: 1.25em;
    }

    .btn {
      margin: 16px 0;
    }
  }

  .intro-img {
    max-width: 100%;
    transform: translate3d(7em, 9em, 0);

    img {
      object-fit: fill;
      width: 130%;
    }
  }

  @include laptop {
    margin-top: 8vh;

    .intro-content {
      width: 120%;
    }
  }

  @include tabletL {
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 22vh auto 12vh auto;
    text-align: center;

    .intro-content {
      width: 100%;

      span {
        margin: 1em auto;
      }

      .btn {
        margin: 16px auto;
      }
    }

    .intro-img {
      transform: translate3d(0, 0, 0);

      img {
        width: 70%;
      }
    }
  }

  @include tabletM {
    h2 {
      font-size: 3em !important;
    }

    .intro-img {
      transform: translate3d(7em, 0, 0);

      img {
        width: 100%;
      }
    }
  }
}
